<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Jakefile</string>
    <key>uuid</key>
    <string>c8a3e4d2-9f5b-4a1e-b6c7-d8e9f0a1b2c3</string>
</dict>
</plist>
